/*body part*/
body{
	margin: 0;
	font-family: 'Open Sans', sans-serif; 
	/*//font will be big*/
}
/*header css*/
header{
	text-align: center;
	margin: 0; 
}
/*this is for logo*/
header img{ 

	width: 150px;
	margin: 25px 0 15px;
}
/*nav css*/
nav ul{
	display: flex;
	list-style: none;

	justify-content: space-between;    
	margin: 0;
	padding-left: 0;

}
nav ul li{
	flex-grow: 1;
}
nav ul li a{
	text-decoration: none;
	background-color:#dfe6e9 ;
	display:block;
	color: black;
	padding: 20px;
	text-align: center;
	text-transform: uppercase;

}
/*color will change and*/
nav ul li a:hover{ 
	background-color: #d1d1d1;
 transform:scale(1.1,1.1);	
 /*transition-duration: 3s;*/

}
/*main section start*/
.widthasign{
	width: 90%;
	display: flex;
	margin: 0 auto;
}
.widthasign .map{
height: 300px;
width: 200px;
}
.main img{
	border-radius: 9px 9px 9px 9px;
	/* transition-duration: 2s; */
    height: 400px;
}
/*this is for hover image*/
.main img:hover{
	/* border-radius: 60%; */
}
/*animation of image*/
.third{
	border-radius: 9px 9px 9px 9px;
	transition-duration: 2s;
	

}
.third :hover{
	border-radius: 50%;
}
/*this is for section part*/
/* section{
	margin: 0 !important;
} */
.main-section{
	display: flex;
	/*padding: 0 5% 0 0;*/
	justify-content: space-around;
	/*background-color: white;*/
	margin: 0;
	/*width: 90%;*/


}

.main-section .leftbar{
	    padding: 0 15px;
	/*width: 90%;*/
}
/*this is for image section*/
.main-section .middlesection img{
	border-radius: 30px ;
	object-fit: cover;         
	/*height:*/
	max-width:100%;

	
}



/*footer part start*/
footer{
	background-color: white;
	margin: 0% auto;
	/*padding: 2%;*/	
	width: 98%;
	box-sizing: border-box;
	text-align: center;


}

/*mainpart*/
/* forbackgroundimage*/
section{
	background: url(../image/back.jpg);
	background-size: cover;
	background-attachment: fixed;
	padding: 4%;
	margin: 1%;
	display: flex;
	justify-content: space-between;
	/*width: 90%;*/
	/* height: 20%; */
	

}
section .main{
	padding: 5%;
}
section .main img{
	border-radius: 30px;
	object-fit: cover;         
	width: 100%;
}
section .second{
	padding: 1%;
	width: 90%;
text-shadow: 1px  1px grey;

}
section .second button{
	padding: 10px 15px;
	background: #fff;
	border: 1px solid #000;
	padding: 10px 25px;
	margin-top:20px;

}


.chat-icon{
    position: fixed;
    bottom: 10px;
    right: 10px;
}
.chat-icon img{
    width: 40px; height: 40px;
}



/*social page*/
.listsocial{
	list-style: none;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	width: 100%;
	padding: 0;
	align-items: center;
}
/*for middle image of social icon*/
.listsocial .image-again img{
	height: 200px;
	width: 200px;
	object-fit: cover;
	border-radius: 50%;
	background-color: red;
    animation-name: example;
    animation-duration: 4s;
    /*animation-iteration-count: infinite;*/
}

/* The animation code */
@keyframes example {
    0%   {transform: rotate(90deg);}
    25%  {transform: rotate(180deg);}
    50%  {transform: rotate(270deg);}
    100% {transform: rotate(360deg);}
}


     .main-section box-input{
     	flex-direction: column;

     }
     
     .model_gp_section img{
     	max-width: 100%;
     }
     /*for responsive */
@media only screen and (max-width: 767px){
	nav ul {
		flex-direction: column;
	}
	.main-section{
		flex-direction: column;
	}
	
     section{
     	flex-direction: column;

     }
     .widthasign{
     	flex-direction: column;

     }
     .main-section box-input{
     	flex-direction: column;

     }
     .listsocial{
     	flex-direction: column;
     }
     .model_gp_section img{
     	max-width: 90%;
     }

   
}
/*more hover*/


